<div class="main-wrapper">
  <div class="py-3">
    <div class="container formBox">
      <div class="row">
        <div class="col-sm-12 form-title">
          <strong>ログイン</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <%= render "login_form", user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>
