<% provide(:title, "トップページ") %>
<div class="root">
  <div class="root-screen"></div>
  <div class="root-message-one">
    社会は変わる。
  </div>
  <div class="root-message-two">
    小さな良いことが当たり前となることで。
  </div>
  <div class="root-button">
    <%= link_to products_path, style: "color: #ffffff" do %>
      <div class="root-link"><p>出品を見る</p></div>
      <div class="root-icon"><i class="fas fa-angle-right"></i></div>
    <% end %>
  </div>
</div>
