<div class="col-lg-8 offset-lg-2 col-sm-8 offset-sm-2">
  <div class="chat-room-title">
    <!-- <div class="chat-user-name">
      <div class="chat-user-name-tag">To:</div>
      <div class="chat-user-name-content">

      </div>
    </div> -->
    <div class="chat-product-name">
      <div class="chat-product-name-tag">About:</div>
      <div class="chat-product-name-content">
        <%= @room.product.name %>
      </div>
    </div>
  </div>
  <hr>
</div>
