<div id="app">
  <form v-on:submit.prevent method="post" action="/cards/pay" id="charge-form" name="chargeForm" >
    <div class="form-group col-auto">
      <label>カード番号</label>
      <input type="text" v-model="number" class="number form-control form-control-lg" name="number" id="card_number" maxlength="17" placeholder="カード番号">
    </div>

    <div class="form-group col-auto">
      <label for="">CVC</label>
      <input type="text" v-model="cvc" class="cvc form-control form-control-lg" name="cvc" id="cvc" maxlength="3" placeholder="CVC">
    </div>

    <div class="form-group col-auto">
      <label for="">有効期限</label>
      <input type="text" v-model="exp_month" class="exp_month form-control form-control-lg" name="exp_month" id="exp_month" maxlength="2" placeholder="月">
    </div>
    <div class="form-group col-auto">
      <input type="text" v-model="exp_year" class="exp_year form-control form-control-lg" name="exp_year" id="exp_year" maxlength="4" placeholder="年">
    </div>
    <input type="hidden" name="current_user_id" value="<%= current_user.id %>">
    
    <div id="card_token">
      <button v-on:click="addCard" type="submit" name="button" id="token_submit" class="form-control create-button" >送信する</button>
    </div>
  </form>
</div>

<!-- <div id="app">
  <form method="post" action="cards/pay" id="charge-form" name="chargeForm" v-on:submit.prevent>
    <div class="form-group col-auto">
      <label>カード番号</label>
      <input type="text" v-model="number" class="number form-control form-control-lg" name="number" maxlength="17" placeholder="カード番号">
    </div>


    <div class="form-group col-auto">
      <label>CVC</label>
      <input type="text" v-model="cvc" class="cvc form-control form-control-lg" name="cvc" maxlength="3" placeholder="CVC">
    </div>

    <div class="form-group col-auto">
      <label>有効期限</label>
      <input type="text" v-model="exp_month" class="exp_month form-control form-control-lg" name="exp_month" maxlength="2" placeholder="月">
    </div>

    <div class="form-group col-auto">
      <input type="text" v-model="exp_year" class="exp_year form-control form-control-lg" name="exp_year" maxlength="4" placeholder="年">
    </div>

    <div id="card_token">
      <button type="submit" v-on:click="addCard" id="token_submit" name="token" class="create-button">送信する</button>
    </div>
  </form>
</div> -->
