@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  font-family: "Bitter", serif;
}
.main-wrapper {
  background-color: #F2F2F2;
}
.formBox {
  margin-left: 120px;
  margin-right: 120px;
  padding: 10px 0px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 15px 30px 20px 0px #9da2b7;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}
.label {
  cursor: pointer;
  i {
    font-size: 100px;
    width: 600px;
    text-align: center;
    color: black;
  }
}
.image_file {
  display: none;
}
.create-button {
  background-color: #00b7ce;
  color: #ffffff;
  font-size: 20px;
  width: 600px;
  display: block;
  text-align: center;
  margin-top: 20px;
  line-height: 50px;
  border-radius: 5px;
  border: 3px solid #00b7ce;
}
.create-button:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #00b7ce;
}
.productBox {
  border-radius: 2px;
  background-color: #ffffff;
  // box-shadow: 15px 30px 20px 0px #9da2b7;
  // border-right: solid 2px black;
}
.imageBox {
  padding: 50px 50px 50px 30px;
}
.single-nameBox {
  padding-top: 41px;
  border-bottom: solid 1px #D3D3D3;
}
.single-priceBox {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #D3D3D3;
}
.single-priceBox-sub-first {
  display: inline-block;
  color: #808080;
}
.single-priceBox-sub-second {
  display: inline-block;
  font-size: 20px;
  // color: #EB3228;
  padding-left: 10px;
}
.descriptionBox {
  padding-top: 30px;
  border-bottom: solid 1px #D3D3D3;
}
.pickup_timesBox {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: solid 1px #D3D3D3;
}
.pickup_timesBox-sub-first {
  display: inline-block;
  color: #808080;
}
.pickup_timesBox-sub-second {
  display: inline-block;
  padding-left: 10px;
}
.taxon-select {
  overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
  position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.taxon-select select {
  width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
  padding: 8px 38px 8px 8px;
	color: #666666;
}
.taxon-select::before {
  position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.product-space {
  padding-top: 21px;
}
.product-space a {
  text-decoration: none;
}
.product-name-price-space {
  background-color: #ffffff;
  border-left: solid 3px #ababab;
  border-right: solid 3px #ababab;
  border-bottom: solid 3px #ababab;
}
.product-name-space {
  padding-top: 3px;
  padding-left: 7px;
  font-size: 16px;
  color: black;
}
.product-price-space {
  padding-left: 7px;
  color: #ababab;
  font-weight: bold;
  padding-bottom: 3px;
  font-size: 24px;
}
.product-space img {
  width: 100%;
  border-left: solid 3px #ababab;
  border-right: solid 3px #ababab;
  border-top: solid 3px #ababab;

}
.back-to-the-index {
  padding-top: 61px;
}
.back-to-the-index a {
  text-decoration: none;
}
.back-to-the-index p {
  display: inline-block;
  color: #C0C0C0;
}
.icon-reply {
  display: inline-block;
  color: #C0C0C0;
}
// #payjp_checkout_box {
//   padding-top: 30px;
//   padding-left: 30px;
// }
.remember-check-label {
  display: inline-block;
  padding-left: 6px;
}
.navbar {
  border-bottom: solid 3px #00b7ce;
}
.icon-header {
  font-size: 31px;
  padding-left: 6px;
  color: #00b7ce;
}
.relating-products {
  background-color: white;
  padding: 10px 0;
  // border-bottom-right-radius: 8px;
  // box-shadow: 15px 30px 20px 0px #9da2b7;
  // border-right: solid 2px black;
  // border-bottom: solid 2px black;
}
.relating-products-tab {
  background-color: white;
  padding: 10px 0;
  // box-shadow: 15px 30px 20px 0px #9da2b7;
  // border-right: solid 2px black;
  padding-left: 16px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 6px #C0C0C0;
}
.header-search-box {
  padding-left: 400px;
  padding-top: 3px;
}
.search-button {
  background-color: #00b7ce;
  color: #ffffff;
  font-size: 16px;
  margin-top: 2px;
  line-height: 29px;
  border-radius: 5px;
  border: 3px solid #00b7ce;
}
.search-products-tab {
  background-color: white;
  padding: 10px 0;
  padding-left: 16px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 6px #C0C0C0;
}
.like-you {
  padding-top: 13px;
}
.attach-star {
  display: inline-block;
  color: #000000;
  font-size: 22px;
  padding-left: 3px;
}
.like-tab {
  display: inline-block;
  color: #808080;
}
.disattach-star {
  display: inline-block;
  color: #FFD700;
  font-size: 19px;
  padding-left: 3px
}
.like-count {
  display: inline-block;
  color: #808080;
  padding-left: 6px;
}
.logout-link a {
  text-decoration: none;
  padding-top: 3px;
  padding-left: 444px;
}
.root-screen {
  background: image-url("platter-2009590_1280.webp");
  background-postion: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
}
.root-screen::before {
  content: "";
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.start-chat-button {
  background-color: #00b7ce;
  color: #ffffff;
  font-size: 20px;
  width: 233px;
  display: block;
  text-align: center;
  margin-top: 25px;
  line-height: 48px;
  // border-radius: 5px;
  border: 3px solid #00b7ce;
}
.start-chat-button:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #00b7ce;
}

.restart-chat-button {
  background-color: #00b7ce;
  color: #ffffff;
  font-size: 20px;
  width: 233px;
  display: block;
  text-align: center;
  margin-top: 25px;
  line-height: 48px;
  border: 3px solid #00b7ce;
}
.restart-chat-button:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #00b7ce;
}
.chat-user-name {
  text-align: center;
  font-size: 22px;
}
.chat-user-name-tag {
  display: inline-block;
}
.chat-user-name-content {
  display: inline-block;
}
.chat-product-name {
  text-align: center;
  font-size: 18px;
  padding-top: 3px;
}
.chat-product-name-tag {
  display: inline-block;
}
.chat-product-name-content {
  display: inline-block;
}
.chat-message {
  text-align: center;
  border: solid;
  padding-bottom: 3px;
}
