@import "bootstrap";
@import "font-awesome";

body {
  font-family: "Bitter", serif;
  background-color: #F2F2F2;
}
.formBox {
  margin-left: 120px;
  margin-right: 120px;
  padding: 10px 0px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 15px 30px 20px 0px #9da2b7;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}
.label {
  cursor: pointer;
  i {
    font-size: 100px;
    width: 600px;
    text-align: center;
    color: black;
  }
}
.image_file {
  display: none;
}
.create-button {
  background-color: #00b7ce;
  color: #ffffff;
  font-size: 20px;
  width: 600px;
  display: block;
  text-align: center;
  margin-top: 20px;
  line-height: 50px;
  border-radius: 5px;
  border: 3px solid #00b7ce;
}
.create-button:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #00b7ce;
}
.productBox {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 15px 30px 20px 0px #9da2b7;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}
.imageBox {
  padding: 50px 50px 50px 50px;
}
.single-nameBox {
  padding-top: 80px;
  border-bottom: solid 1px #D3D3D3;
}
.single-priceBox {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #D3D3D3;
  color: #EB3228;
}
.single-priceBox h5 {
  color: #C0C0C0;
}
.descriptionBox {
  padding-top: 30px;
  border-bottom: solid 1px #D3D3D3;
}
.pickup_timesBox {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: solid 1px #D3D3D3;
}
.pickup_timesBox h5 {
  color: #C0C0C0;
}
