<% provide(:title, "商品出品ページ") %>
<div class="main-wrapper">
  <div class="py-3">
    <div class="container formBox">
      <div class="row">
        <div class="col-sm-12 form-title">
          <strong>出品する</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <%= render "push_product_form", product: @product %>
        </div>
      </div>
    </div>
  </div>
</div>
