<div class="main-wrapper new-product-form">
  <div class="py-3">
    <div class="container formBox">
      <h3 class="mb-3 row justify-content-center"><strong>追加する</strong></h3>
        <%= render "push_product_form", product: @product %>
    </div>
  </div>
</div>
