<div class="main-wrapper">

  <div class="container">
    <div class="search-products-tab"><%= "「#{params[:search]}」の検索結果" %></div>
    <div class="row">
      <% @searched_products.each do |product| %>
        <%= render "shared/product_segment", product: product %>
      <% end %>
    </div>
  </div>
</div>
