<div class="main-wrapper">
  <section class="main-content py-3">
    <div class="container">
      <div class="row productBox">
        <div class="col-md-6">
          <div class="imageBox">
            <div class="inside-imageBox"><%= image_tag @product.image.url(:large) %></div>
          </div>
        </div>
        <div class="col-md-6">
          <%= render "product_right_side", product: @product %>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>Chat room</h2>
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="chat-input" />
        </div>
        <button id="button" class="btn btn-primary">送信</button>
      </form>

      <div id="messages">
        <ul class="list-group">
          <%= render @messages %>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row relating-products-tab">関連商品</div>
      <div class="row relating-products">
        <% @relating_products.each do |product| %>
          <%= render "shared/product_segment", product: product %>
        <% end %>
      </div>
    </div>
  </section>
</div>
