<div class="main-wrapper">
  <section class="main-content">
    <div class="container">
      <div class="row productBox">
        <div class="col-md-6">
          <div class="imageBox">
            <%= image_tag @product.image.url(:large) %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="nameBox">
            <%= @product.name %>
          </div>
          <div class="descriptionBox">
            <%= @product.description %>
          </div>
          <div class="pickup_timesBox">
            <%= @product.pickup_times %>
          </div>
        </div>
      </div>
      <div class="row shopBox">

      </div>
      <div class="row related-products">

      </div>
    </div>
  </section>
</div>
